<h4 class="mb-4">Order Details</h4>

<div class="row">
    <div class="col-sm-3 bg-light">Order ID:</div>
    <div class="col-sm-9">{{ order.id }}</div>
</div>

<div class="row">
    <div class="col-sm-3 bg-light">Order Date:</div>
    <div class="col-sm-9">{{ order.createdAt|date('Y-m-d') }} at {{ order.createdAt|date('H:i:s') }}</div>
</div>

<div class="row">
    <div class="col-sm-3 bg-light">Item:</div>
    <div class="col-sm-9">{{ order.itemName }}</div>
</div>

<div class="row">
    <div class="col-sm-3 bg-light">Total Amount:</div>
    <div class="col-sm-9">${{ order.totalAmount|number_format(2, '.', ',') }}</div>
</div>

<div class="row">
    <div class="col-sm-3 bg-light">Discount Amount:</div>
    <div class="col-sm-9">${{ order.discountAmount|number_format(2, '.', ',') }}</div>
</div>

<div class="row">
    <div class="col-sm-3 bg-light">Cancelled Date:</div>
    {% if order.cancelledAt != null %}
    <div class="col-sm-9 bg-light">{{ order.cancelledAt|date('Y-m-d') }} at {{ order.cancelledAt|date('H:i:s') }}</div>
    {% else %}
        <div class="col-sm-9">N/A</div>
    {% endif %}
</div>

<h5 class="mt-4 mb-4">Shipping Information</h5>

<div class="row">
    <div class="col-sm-3 bg-light">Shipping Company:</div>
    <div class="col-sm-9">{{ order.shippingCompany }}</div>
</div>

<div class="row">
    <div class="col-sm-3 bg-light">Tracking No:</div>
    <div class="col-sm-9">{{ order.trackingNo }}</div>
</div>

<div class="row">
    <div class="col-sm-3 bg-light">Box ID:</div>
    <div class="col-sm-9">{{ order.boxId }}</div>
</div>

<div class="row">
    <div class="col-sm-3 bg-light">Status:</div>
    <div class="col-sm-9">{{ order.status == null ? 'n/a' : order.status }}</div>
</div>
<div class="row">
    <div class="col-sm-3 bg-light">Remarks:</div>
    <div class="col-sm-9">{{ order.remarks == null ? 'n/a' : order.remarks }}</div>
</div>


<div class="row mt-5">
    <div class="col-sm-12">
        <button type="button" class="btn btn-secondary" id="toggle-back">Back</button>
    </div>
</div>