{% if orders %}
    {% for order in orders %}
        <tr class="{{ order.status == 'order_processing' ? 'bg-warning' : order.status == 'order_shipped' ? 'bg-success' : '' }}">
            <td>{{ order.id }}</td>
            <td scope="row">{{ order.createdAt|date('Y-m-d') }} at {{ order.createdAt|date('H:i:s') }}</td>
            <td>{{ order.boxId == null ? 'n/a' : order.boxId }}</td>
            <td>{{ order.itemName }}</td>
            <td class="text-end">${{ order.totalAmount|number_format(2, '.', ',') }}</td>
            <td class="text-end">${{ order.discountAmount|number_format(2, '.', ',') }}</td>
            <td>
                <span class="{{ order.status == 'order_processing' ? 'fw-bold' : '' }}">{{ order.status|replace({'_': ' '})|title|trim('Order ', 'left') }}</span>
            </td>
            <td class="text-center">
                <button type="button"
                        class="btn btn-primary btn-sm toggle-order-detail"
                        id="order-detail-row-{{ order.id }}"
                        data-order="{{ order.id }}"
                        title="View Order"><i class="bi bi-info-lg"></i>
                </button>
                {% if department == 'picking' and (order.status == 'order_received' or order.status == 'order_processing') %}
                <button type="button"
                        class="btn btn-primary btn-sm toggle-process-order {{ order.status == 'order_received' ? '' : 'disabled' }}"
                        id="process-order-{{ order.id }}"
                        data-order="{{ order.id }}"
                        title="Process Order"><i class="bi bi-download"></i>
                </button>
                <button type="button"
                        class="btn btn-success btn-sm toggle-edit-order {{ order.status == 'order_processing' ? '' : 'disabled' }}"
                        id="edit-order-{{ order.id }}"
                        data-order="{{ order.id }}"
                        title="Assign Box ID"><i class="bi bi-list-check"></i>
                </button>
                {% endif %}

                {% if department == 'shipping' and order.status == 'order_ready_to_ship' %}
                <button type="button"
                        class="btn btn-primary btn-sm toggle-shipped-order"
                        id="shipped-order-{{ order.id }}"
                        data-order="{{ order.id }}"
                        title="Ship Order"><i class="bi bi-cursor-fill"></i>
                </button>
                <button type="button"
                        class="btn btn-danger btn-sm toggle-report-order"
                        id="report-order-{{ order.id }}"
                        data-order="{{ order.id }}"
                        title="Report Order"><i class="bi bi-shield-fill-exclamation"></i>
                </button>
                {% endif %}

                {% if department == 'management' %}
                    <button type="button"
                            class="btn btn-light btn-sm toggle-change-log"
                            id="change-log"
                            data-order="{{ order.id }}"
                            title="View change log"><i class="bi bi-list-ul"></i>
                    </button>
                {% endif %}
            </td>
        </tr>

        <tr id="toggle-order-row-{{ order.id }}" class="d-none bg-light">
            <td class="p-4" colspan="7">
                <div class="col-sm-7">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               id="box-id-{{ order.id }}"
                               placeholder="Enter Box ID Here..."
                               value="{{ order.boxId }}"
                               aria-label="Box ID"
                               aria-describedby="button-addon2">
                        <button class="btn btn-primary toggle-order-update-row"
                                id="toggle-order-update-row-{{ order.id }}"
                                type="button"
                                data-order="{{ order.id }}">Update
                        </button>
                        <button class="btn btn-secondary toggle-order-cancel-row"
                                id="toggle-order-cancel-row-{{ order.id }}"
                                type="button"
                                data-order="{{ order.id }}">Cancel
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td class="text-center text-danger fw-bold" colspan="8">No order found</td>
    </tr>
{% endif %}