<h4 class="mb-4">Report Order</h4>

<div class="row">
    <div class="col-sm-3 bg-light">Order ID:</div>
    <div class="col-sm-9">{{ order.id }}</div>
</div>

<div class="row">
    <div class="col-sm-3 bg-light">Order Date:</div>
    <div class="col-sm-9">{{ order.createdAt|date('Y-m-d') }} at {{ order.createdAt|date('H:i:s') }}</div>
</div>

<div class="row">
    <div class="col-sm-3 bg-light">Item:</div>
    <div class="col-sm-9">{{ order.itemName }}</div>
</div>

<div class="row">
    <div class="col-sm-3 bg-light">Status:</div>
    <div class="col-sm-9">
        <select name="shipping_status" id="shipping-status" class="form-control">
            <option value="">Select Status</option>
            <option value="missing">Item Missing</option>
            <option value="damaged">Item Damaged</option>
            <option value="mismatched">Item Mismatched</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 bg-light">Reason:</div>
    <div class="col-sm-9">
        <textarea name="reason" id="reason" class="form-control"></textarea>
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary" id="toggle-submit-report" data-order="{{ order.id }}">Save</button>
        <button type="button" class="btn btn-secondary" id="toggle-report-back">Back</button>
    </div>
</div>