<h4 class="mb-4">Ship Order</h4>

<div class="row">
    <div class="col-sm-3 bg-light">Order ID:</div>
    <div class="col-sm-9">{{ order.id }}</div>
</div>

<div class="row">
    <div class="col-sm-3 bg-light">Order Date:</div>
    <div class="col-sm-9">{{ order.createdAt|date('Y-m-d') }} at {{ order.createdAt|date('H:i:s') }}</div>
</div>

<div class="row">
    <div class="col-sm-3 bg-light">Item:</div>
    <div class="col-sm-9">{{ order.itemName }}</div>
</div>

<div class="row">
    <div class="col-sm-3 bg-light">Shipping Company:</div>
    <div class="col-sm-9">
        <input type="text" name="shipping_company" id="shipping-company" class="form-control">
    </div>
</div>

<div class="row">
    <div class="col-sm-3 bg-light">Tracking No:</div>
    <div class="col-sm-9">
        <input type="text" name="tracking_no" id="tracking-no" class="form-control">
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary" id="toggle-submit-ship-order" data-order="{{ order.id }}">Save</button>
        <button type="button" class="btn btn-secondary" id="toggle-report-back">Back</button>
    </div>
</div>