<h4 class="mb-4">Change Logs</h4>

<table class="table table-striped">
    <thead>
    <tr>
        <td scope="col">Date</td>
        <td scope="col">Action</td>
        <td scope="col">Description</td>
    </tr>
    </thead>

    <tbody>
    {% for log in logs %}
        <tr>
            <td>{{ log.createdAt|date('Y-m-d') }} at {{ log.createdAt|date('H:i:s') }}</td>
            <td>{{ log.action|replace({'_': ' '})|title|trim('Order ', 'left') }}</td>
            <td>{{ log.description }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="row mt-5">
    <div class="col-sm-12">
        <button type="button" class="btn btn-secondary" id="toggle-log-back">Back</button>
    </div>
</div>