{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <div class="col-7">
        <h1 class="mt-4">Orders</h1>

        <div class="row mt-5 col-sm-9 d-none" id="order-details-wrapper"></div>

        <div class="row mt-5 col-sm-9 d-none" id="report-order-wrapper"></div>

        <div class="row mt-5 col-sm-9 d-none" id="ship-order-wrapper"></div>

        <div class="row mt-5 col-sm-9 d-none" id="logs-wrapper"></div>

        {% if department == 'management' %}
        <div class="row mt-5 mb-5 justify-content-between" id="filter-wrapper">
            <div class="col-3">
                <div class="input-group">
                    <select id="filter-order-status" class="form-control">
                        <option value="all">All</option>
                        <option value="order_received">Received</option>
                        <option value="order_processing">Processing</option>
                        <option value="order_ready_to_ship">Ready To Ship</option>
                        <option value="order_shipped">Shipped</option>
                        <option value="order_cancelled">Cancelled</option>
                    </select>
                    <button class="btn btn-primary" id="toggle-filter" title="Filter order by status">
                        <i class="bi bi-filter-square-fill"></i>
                    </button>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input type="text" class="form-control" id="search-order-id" placeholder="Search order">
                    <button class="btn btn-primary" id="toggle-search" title="Search order by Id">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row p-4" id="order-list-wrapper">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Order#</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Box ID</th>
                    <th scope="col">Item</th>
                    <th scope="col" class="text-end">Total Amount</th>
                    <th scope="col" class="text-end">Discount Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
                </thead>

                <tbody id="orders-container">
                {% include 'order/partials/list.html.twig' %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
